$navbar-default-bg: #F2FBCF;
$body-bg: #FFFFFF;
$btn-primary-bg: #BDB8AD;

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Give+You+Glory|Delius+Unicase|Coming+Soon|Trochut';
@import "welcome";

.push-spaces{
  height: 100px;
}

body {
  color: #28132E;
}

.welcome-button {
    position: fixed;
    bottom: 13%;
    right: 25%;
    color: #838288 !important;
}

/*--- menu ---*/
.menu_navbar {
  font-family: 'Trochut', cursive;
}

.menu_body {
  font-family: 'Coming Soon', cursive;
  background-color: #FBE6D7;
}
